/* Slider SCSS */
@import "_colors"; 

.slick-dots li button {
    visibility: hidden;
}
.slick-dots {
    list-style: none;
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.slick-dots li {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.slick-dots li::before {
    position: absolute;
    content: "";
    cursor: pointer;
    width: 11px;
    height: 11px;
    display: block;
    background: #fff;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    transition: all ease 0.5s;
}
.slick-dots li:hover::before {
    background: $primaryColor;
}
.slick-dots .slick-active::before {
    background: $primaryColor;
}
.item_content_outter {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 130px auto;
    width: 100%;
}

.item_content_inner h1 {
    font-size: 90px;
    background-color: rgba(0,0,0,0.80);
    padding: 5px 20px 15px 20px;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: inline-flex;
    color: #fff;
    margin: 0 auto;
}
.item_content_inner h2 {
    font-size: 24px;
    background-color: rgba(0,0,0,0.80);
    padding: 5px 20px;
    font-weight: 100;
    letter-spacing: 9px;
    text-transform: uppercase;
    display: inline-flex;
    clear: both;
    overflow: hidden;
    color: #fff;
    margin: 30px auto;
}
@media only screen and (max-width: 992px) {
    .item_content_inner h1 {
        font-size: 60px;
        padding: 5px 20px 15px 20px;
    }
    .item_content_inner h2 {
        font-size: 14px;
        padding: 5px 20px;
    }
}
@media only screen and (max-width: 767px) {
    .crousal_section {
        margin-top: 70px;
    }
    .item_content_outter {
        margin: 10px auto;
    }
    .item_content_inner h1 {
        font-size: 28px;
        padding: 5px 20px 5px 20px;
    }
    .item_content_inner h2 {
        font-size: 12px;
        padding: 5px 10px;
    }
}


/* Slider SCSS END */