/* Team SCSS */
@import "_colors"; 

.team_img_outter img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}
.team_img_outter img:hover {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.team_position {
    background: $primaryColor;
    padding: 5px 10px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
    color: #fff;
    font-weight: bold;
}
.team_single .subtitle {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}
.social_links a .svg-inline--fa {
    width: 37px;
    font-size: 37px;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
}
.social_links a:hover .svg-inline--fa {
    background-color: $primaryColor;
}

.social_links a .fa-facebook {
    background-color: #2f5a9a;
}
.social_links a .fa-twitter {
    background-color: #3abdd1;
}
.social_links a .fa-pinterest {
    background-color: #d13a3a;
}
.social_links a .fa-linkedin {
    background-color: #0072b2;
}
/* tablets/portrait devices (1200px and down) */
@media only screen and (max-width: 1200px) {
   
}
/* small tablets devices (992px and down) */
@media only screen and (max-width: 992px) {
    
}
/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
    
}


/* Team SCSS End */