/* Header SCSS */
header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
}

.logo {
  padding: 9px 0;
}

.logo a img {
  width: 140px;
}

.navbar-toggler i {
  color: #fdc51d;
  font-size: 30px;
  height: auto;
  width: auto;
  padding: 0;
}

.navbar-nav > li > a {
  color: #000;
}

.navbar-nav > li > a {
  -webkit-transition: padding 0.3s ease 0s;
  transition: padding 0.3s ease 0s;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 3px solid #fff;
  outline: none;
  text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 40px 15px;
}

.navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #d81c0a;
  border-bottom: 3px solid #fdc51d;
}

.navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #d81c0a;
  border-bottom: 3px solid #fdc51d;
  outline: none;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* tablets/portrait devices (1200px and down) */
@media only screen and (max-width: 1200px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav {
    margin: 7.5px -30px;
    max-height: 380px;
    overflow-x: visible;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
  .logo a img {
    width: 120px;
  }
}

/* small tablets devices (992px and down) */
/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-nav {
    margin: 7.5px -15px;
    max-height: 340px;
    overflow-x: visible;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
  .logo a img {
    width: 100px;
  }
}

/* Header SCSS End */
/* Slider SCSS */
.slick-dots li button {
  visibility: hidden;
}

.slick-dots {
  list-style: none;
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li::before {
  position: absolute;
  content: "";
  cursor: pointer;
  width: 11px;
  height: 11px;
  display: block;
  background: #fff;
  cursor: pointer;
  border-radius: 20px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.slick-dots li:hover::before {
  background: #d81c0a;
}

.slick-dots .slick-active::before {
  background: #d81c0a;
}

.item_content_outter {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 130px auto;
  width: 100%;
}

.item_content_inner h1 {
  font-size: 90px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 20px 15px 20px;
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  margin: 0 auto;
}

.item_content_inner h2 {
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 20px;
  font-weight: 100;
  letter-spacing: 9px;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  clear: both;
  overflow: hidden;
  color: #fff;
  margin: 30px auto;
}

@media only screen and (max-width: 992px) {
  .item_content_inner h1 {
    font-size: 60px;
    padding: 5px 20px 15px 20px;
  }
  .item_content_inner h2 {
    font-size: 14px;
    padding: 5px 20px;
  }
}

@media only screen and (max-width: 767px) {
  .crousal_section {
    margin-top: 70px;
  }
  .item_content_outter {
    margin: 10px auto;
  }
  .item_content_inner h1 {
    font-size: 28px;
    padding: 5px 20px 5px 20px;
  }
  .item_content_inner h2 {
    font-size: 12px;
    padding: 5px 10px;
  }
}

/* Slider SCSS END */
/* Featured SCSS */
.inner_image_featured .price_selector {
  background: #d81c0a;
  padding: 5px 10px;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
  color: #fff;
  font-weight: bold;
}

.inner_featured .featured_subtitle {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.inner_image_featured img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
}

.inner_image_featured:hover img {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* tablets/portrait devices (1200px and down) */
/* small tablets devices (992px and down) */
/* Extra small devices (phones, 767px and down) */
/* Featured SCSS End */
/* Services SCSS */
.icon_services {
  background: #d81c0a;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

.icon_services i {
  font-size: 60px !important;
  color: #fff;
  line-height: 147px;
  width: 100%;
  text-align: center;
}

.icon_services {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 15px 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
}

.icon_services:hover {
  background: #fdc51d;
  color: #fff;
}

.icon_services:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.icon_services:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  -webkit-box-shadow: 0 0 0 4px #fdc51d;
          box-shadow: 0 0 0 4px #fdc51d;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(0.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  transform: scale(0.8);
  opacity: 0;
}

.icon_services:hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.icon_subtitle {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

/* tablets/portrait devices (1200px and down) */
/* small tablets devices (992px and down) */
/* Extra small devices (phones, 767px and down) */
/* Services SCSS End */
/* Menu SCSS */
.accordion-menu {
  padding: 40px;
  line-height: 18px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
}

.accordion-menu.menu-one {
  background-image: url("../images/menu-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.accordion-menu.menu-two {
  background-image: url("../images/menu-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.accordion-menu.menu-three {
  background-image: url("../images/menu-3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.accordion-menu:hover {
  color: #fff;
}

.accordion-content {
  background: #fffdf8;
}

.menu_item_inner .thumb {
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  width: 90px;
  height: 90px;
}

.content_menu .item_name {
  background: #fffdf8;
  font-size: 18px;
  float: left;
  margin-right: 20px;
  padding-right: 4px;
  position: relative;
  font-weight: 900;
  text-transform: uppercase;
}

.content_menu .item_price {
  font-size: 14px;
  font-weight: bold;
  color: #d81c0a;
  margin: 0 10px 0 0;
}

/* tablets/portrait devices (1200px and down) */
/* small tablets devices (992px and down) */
/* Extra small devices (phones, 767px and down) */
/* Menu SCSS End */
/* Team SCSS */
.team_img_outter img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
}

.team_img_outter img:hover {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.team_position {
  background: #d81c0a;
  padding: 5px 10px;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
  color: #fff;
  font-weight: bold;
}

.team_single .subtitle {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.social_links a .svg-inline--fa {
  font-size: 32px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.social_links a:hover .svg-inline--fa {
  color: #d81c0a;
}

.social_links a .fa-facebook {
  color: #2f5a9a;
}

.social_links a .fa-twitter {
  color: #3abdd1;
}

.social_links a .fa-pinterest {
  color: #d13a3a;
}

.social_links a .fa-linkedin {
  color: #0072b2;
}

/* tablets/portrait devices (1200px and down) */
/* small tablets devices (992px and down) */
/* Extra small devices (phones, 767px and down) */
/* Team SCSS End */
/* Best Menu SCSS */
.menu-slick .item_inner {
  padding: 20px;
}

.img_slick_best .subtitle {
  margin: 15px 0;
}

.menu-slick .slick-dots {
  display: none !important;
}

.menu-slick .slick-arrow {
  visibility: hidden;
}

.menu-slick .slick-prev.slick-arrow::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  visibility: visible;
  left: 0;
  top: -90px;
  background: url(../images/controls.png) no-repeat left top;
}

.menu-slick .slick-next.slick-arrow::before {
  position: absolute;
  content: "";
  top: -90px;
  outline: 0;
  width: 28px;
  height: 28px;
  right: 0;
  background: url(../images/controls.png) no-repeat right top;
  visibility: visible;
}

.img_slick_best a {
  position: relative;
  display: block;
}

.slick_best_price {
  background: #d81c0a;
  padding: 5px 10px;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
  color: #fff;
  font-weight: bold;
}

/* tablets/portrait devices (1200px and down) */
/* small tablets devices (992px and down) */
/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
  .menu-slick .slick-prev.slick-arrow::before, .menu-slick .slick-next.slick-arrow::before {
    top: -83px;
  }
}

/* Best Menu  SCSS End */
/* Testimonials SCSS */
.testmonials_bg {
  background-image: url("../images/parallax.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-bottom: 30px;
}

.testi_img_inner img {
  border-radius: 50%;
  display: block;
  margin-right: 20px;
  width: 93px;
}

.testi_item_name {
  font-size: 18px;
  padding-right: 4px;
  position: relative;
  font-weight: 900;
  text-transform: uppercase;
}

.testi_position {
  font-size: 14px;
  font-weight: bold;
  color: #d81c0a;
  margin: 0 10px 0 0;
}

/* tablets/portrait devices (1200px and down) */
/* small tablets devices (992px and down) */
/* Extra small devices (phones, 767px and down) */
/* Testimonials SCSS End */
/* Footer SCSS */
.footer_dark {
  background: #d81c0a;
  font-size: 18px;
}

footer h4 {
  font-size: 18px;
  font-weight: bold;
  color: #fdc51d;
  margin: 0 0 30px 0;
  padding: 0;
  clear: both;
  text-transform: uppercase;
}

/* tablets/portrait devices (1200px and down) */
/* small tablets devices (992px and down) */
/* Extra small devices (phones, 767px and down) */
/* Footer SCSS End */
p {
  margin: 0 0 30px 0;
  line-height: 1.7em;
  font-size: 14px;
}

/*border style */
.border-b {
  background: none repeat scroll 0 0 #e5e5e5;
  float: left;
  height: 1px;
  width: 100%;
}

.border-b span {
  background: url(../images/border.png) no-repeat 0 0 #fff;
  position: absolute;
  width: 110px;
  height: 27px;
  left: 50%;
  top: -12px;
  margin-left: -50px;
}

/* tablets/portrait devices (1200px and down) */
@media only screen and (max-width: 1200px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}

/* small tablets devices (992px and down) */
/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=main.css.map */