@import "_header";
@import "_slider";
@import "_featured";
@import "_services";
@import "_menu";
@import "_team";
@import "_bestmenu";
@import "_testimonials";
@import "_footer";
@import "_colors";



p {
    margin: 0 0 30px 0;
    line-height: 1.7em;
    font-size: 14px;
}
/*border style */
.border-b {
    background: none repeat scroll 0 0 #e5e5e5;
    float: left;
    height: 1px;
    width: 100%;
}
.border-b span {
    background: url(../images/border.png) no-repeat 0 0 #fff;
    position: absolute;
    width: 110px;
    height: 27px;
    left: 50%;
    top: -12px;
    margin-left: -50px;
}
.nav-link:focus {
    color: #000;
}
/* tablets/portrait devices (1200px and down) */
@media only screen and (max-width: 1200px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
}
/* small tablets devices (992px and down) */
@media only screen and (max-width: 992px) {
    
}
/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}

