/* Footer SCSS */

.footer_dark {
    background: #d81c0a;
    font-size: 18px;
}
footer h4 {
    font-size: 18px;
    font-weight: bold;
    color: #fdc51d;
    margin: 0 0 30px 0;
    padding: 0;
    clear: both;
    text-transform: uppercase;
    font-size: 18px;
}
.address_footer {
    font-size: 14px;
}
.working-timming p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    color: #FFF;
}
.email_input {
    width: 100%;
    border: 0;
    background: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    margin: 0 0 10px 0;
} 
.textarea_input {
    width: 100%;
    border: 0 none;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    margin: 0 0 9px 0;
}
.submit_contact {
    transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    padding: 10px 20px;
    background: #fdc51d;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    border: 0;
}
.submit_contact:hover {
    transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    background: #fff;
    color: #fdc51d;
}
.footer_rights {
    background-color: #fdc51d;
}
.rights-outter p a {
    background: none;
    color: #fff;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
    margin: 0 ;
    text-decoration: none;
    text-transform: uppercase;

}
/* tablets/portrait devices (1200px and down) */
@media only screen and (max-width: 1200px) {
   
}
/* small tablets devices (992px and down) */
@media only screen and (max-width: 992px) {
    
}
/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
    
}


/* Footer SCSS End */