/* Services SCSS */
$iconbgcolor: #d81c0a;
$iconbgHovercolor: #fdc51d;

.icon_services {
    background: $iconbgcolor;
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}
.icon_services i {
    font-size: 60px !important;
    color: #fff;
    line-height: 147px;
    width: 100%;
    text-align: center;
}
.icon_services {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    margin: 15px 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
}
.icon_services:hover {
    background: $iconbgHovercolor;
    color: #fff;

}
.icon_services:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.icon_services:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 4px $iconbgHovercolor;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}
.icon_services:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.icon_subtitle {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}


/* tablets/portrait devices (1200px and down) */
@media only screen and (max-width: 1200px) {
   
}
/* small tablets devices (992px and down) */
@media only screen and (max-width: 992px) {
    
}
/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
    
}


/* Services SCSS End */